* {
  margin: 0;
  padding: 0;
  font-family: -apple-system, "Helvetica Neue", sans-serif, "Mier Book";
  text-decoration: none;
}

#screen {
  width: 100%;
  /* border: 2px solid red; */
}

#navbar {
  width: 100%;
  /* border: 2px solid blue; */
  height: 70px;
  border-bottom: 1px solid rgb(161, 160, 160);
}

#lo{
    width: 90%;
    /* border: 2px solid black; */
    display: flex;
    height: 100%;
    margin: auto;
    justify-content: space-between;
     
}

#one{
    width: 42.5%;
    height: 100%;
    /* border: 1px solid greenyellow; */
    display: flex;
    justify-content: space-between;
    align-items: center;   
}

#pic{
    width: 190px;
    height: 57px;
    /* border: 1px solid red; */
}

#pic>a>img{
    width: 100%;
    height: 100%;
}

#search{
    width: 380px;
    height: 45px;
    border: 1px solid grey;
    border-radius: 5px;
}

#search>input{
    border: none;
    outline: none;
    margin-top: 10px;
    font-size: 16px;
    width: 90%;
}

#search>i{
    color: grey;
    padding-left: 10px;
}

#two{
    width: 42%;
    height: 100%;
    /* border: 1px solid greenyellow; */
    display: flex;  
    align-items: center;  
    justify-content: space-between; 
    font-size: 16px;
    color: #353543;
}

#app{
    display: flex;
    height: 45px;
    width: 30%;
    /* border: 1px solid brown; */
    border-right: 2px solid rgb(161, 160, 160);
    align-items: center;
}

#app>i{
    /* margin-top: 8px; */
    margin-right: 10px;
   
}

#supp{
    width: 30%;
    height: 35px;
    /* border: 1px solid brown;  */
    border-right: 2px solid rgb(161, 160, 160);
    text-align: center;
    padding-top: 15px;
}

#profile{
    width: 35%;
    /* border: 1px solid brown; */
    display: flex;
    justify-content: space-around;
    text-align: center;
    line-height: 25px;
}

#profile>div>a{
   text-decoration: none;
   color: #353543;
}

#nav{
    width: 100%;
    height: 50px;
    margin: auto;
    border-bottom: 1px solid rgb(161, 160, 160);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: #353543 ;
}

#lowest{
    width: 70%;
    height: 345px;
    /* border: 1px solid black; */
    margin: auto;
    display: flex;
    margin-top: 50px;
}

#left{
width: 55%;
/* border: 1px solid red; */
}

#text{
    font-size: 48px;
    font-weight: 600;
    color: #353543;
    margin-top: 50px;
}

#con{
    display: flex;
    color: #353543;
    font-size: 16px;
    font-weight: 500;
    padding-left: 20px;
    margin-top: 30px;
}

#con>div{
    border-right: 1px solid rgb(42, 40, 40) ;
    padding-right:70px ;
}
#con>img{
    padding-right: 10px;
}

#play{
    display: flex;
    width: 300px;
    height: 45px;
    border: 1px solid #9f2089;
    background-color: #9f2089;
    border-radius: 5px;
    align-items: center;
    color: white;
    margin-top: 30px;
    margin-left: 20px;
}

#play>img{
    width: 25px;
    height: 30px; 
    margin-left: 20px;
}

#play>p{
    margin-left: 20px;
}

#body>div:nth-child(2){
    font-size: 36px;
    font-weight: 700;
    margin-left: 470px;
    color: #353543;
    margin-top: 70px;
}
