* {
    margin: 0;
    padding: 0;
    font-family: -apple-system, "Helvetica Neue", sans-serif, "Mier Book";
  }
  
  #screen {
    width: 100%;
    /* border: 2px solid red; */
  }
  
  #navbar {
    width: 100%;
    /* border: 2px solid blue; */
    height: 70px;
    border-bottom: 1px solid rgb(161, 160, 160);
  }
  
  #lo{
      width: 90%;
      /* border: 2px solid black; */
      display: flex;
      height: 100%;
      margin: auto;
      justify-content: space-between;
       
  }
  
  #one{
      width: 42.5%;
      height: 100%;
      /* border: 1px solid greenyellow; */
      display: flex;
      justify-content: space-between;
      align-items: center;   
  }
  
  #pic{
      width: 190px;
      height: 57px;
      /* border: 1px solid red; */
  }
  
  #pic>img{
      width: 100%;
      height: 100%;
  }
  
  #search{
      width: 380px;
      height: 45px;
      border: 1px solid grey;
      border-radius: 5px;
  }
  
  #search>input{
      border: none;
      outline: none;
      margin-top: 10px;
      font-size: 16px;
      width: 90%;
  }
  
  #search>i{
      color: grey;
      padding-left: 10px;
  }
  
  #two{
      width: 42.5%;
      height: 100%;
      /* border: 1px solid greenyellow; */
      display: flex;  
      align-items: center;  
      justify-content: space-between; 
      font-size: 16px;
      color: #353543;
  }
  
  #app{
      display: flex;
      height: 45px;
      width: 30%;
      /* border: 1px solid brown; */
      border-right: 2px solid rgb(161, 160, 160);
      align-items: center;
  }
  
  #app>i{
      /* margin-top: 8px; */
      margin-right: 10px;
     
  }
  
  #supp{
      width: 30%;
      height: 35px;
      /* border: 1px solid brown;  */
      border-right: 2px solid rgb(161, 160, 160);
      text-align: center;
      padding-top: 15px;
  }
  
  #profile{
      width: 30%;
      /* border: 1px solid brown; */
      display: flex;
      justify-content: space-around;
      text-align: center;
      line-height: 25px;
  }
  
  #profile>div>a{
     text-decoration: none;
     color: #353543;
  }